* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url(../img/fondocuatro.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #d8e9f9;
  margin-right: 9%;
}

header .logo_img {
  width: 70px;
}

#navbar {
  height: 60px;
  background-color: #d8e9f9;
}

.opciones {
  display: flex;
  list-style: none;
  padding-top: 9px;
  gap: 2.2em;
  margin-left: 10px;
}

.opciones li {
  display: inline-block;
  padding-top: 9px;
}

.opciones li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.opciones li button {
  font-size: 17px;
  color: white;
  height: 90%;
  width: 110px;
  cursor: pointer;
  margin-right: 1%;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-top: 2px;
  background-color: #789dca;
}
.abrir-btn {
  display: none;
}

.titulo {
  color: white;
}

.carrito {
  margin-top: 1rem;
  margin-left: 11rem;
}

section {
  display: flex;
  margin-top: 2rem;
}

.regresar {
  width: 4rem;
  height: 3rem;
  background: none;
  border: none;
}

.flecha {
  width: 50%;
}

h1 {
  font-size: 1.5rem;
}

.linea {
  width: 60rem;
  border-color: white;
  margin-top: 0.4rem;
}

.list {
  display: grid;
  grid-template-columns: 210px 210px 210px;
  column-gap: 20px;
  justify-content: center;
  margin-top: 20px;
  font-size: 1px;
  width: 60rem;
  margin-left: 15rem;
  justify-content: space-between;
}

/* Carta */

.resumen {
  border: 1px solid black;
  background-color: white;
  height: 27rem;
  width: 18rem;
  border-radius: 10px; /* Cambiar a posición absoluta */
  margin-left: 10rem;
  margin-top: 6rem;
}

.masmenos {
  background: none;
  border: none;
}

.compra {
  margin-top: 1rem;
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.lineados {
  margin-top: 1rem;
  border-color: #292023;
  margin-left: -0.5rem;
}

.productos {
  padding: 14px;
  margin-bottom: 1rem;
}

.productosp {
  display: flex;
}

.numproductos {
  margin-left: 20px;
}

.totalb {
  display: flex;
  margin-top: 19px;
}

.numtotalb {
  margin-left: 20px;
}

.iva {
  display: flex;
  margin-top: 19px;
}

.numiva {
  margin-left: 20px;
}

.lineatres {
  margin-top: 1rem;
  border-color: #292023;
}

.total {
  display: flex;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.numtotal {
  margin-top: 3px;
  margin-left: 20px;
}

.pedido {
  border-radius: 10px;
  background-color: #ebc793;
  width: 9rem;
  height: 1.8rem;
  text-align: center;
  margin-top: 5.6rem;
  margin-left: 4.5rem;
  padding-top: 10px;
  border: 1px solid black;
}

.pedido:hover {
  background-color: #ddb77f;
}

.añadir {
  margin-top: 0.3rem;
  padding: 14px;
  width: 15rem;
  margin-left: -4rem;
}

.añadir:hover {
  color: #789dca;
}

.paginas {
  width: 400px;
  height: 40px;
  margin-top: 43rem;
  margin-left: -14rem;
}

.realizar {
  margin-top: -1rem;
  width: 9rem;
  height: 2.3rem;
  background: none;
  border: none;
}

.flecha {
  background: none;
  border: none;
}

.paginacion {
  background: none;
  border: none;
}

.paginacionuno {
  background: none;
  border: none;
  color: red;
}

.listPage {
  display: flex;
  padding: 5px;
  text-align: center;
  list-style: none;
  margin-top: -5.7rem;
  margin-left: 53rem;
}

.listPage li {
  background: white;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid black;
}

.active {
  color: red;
}

/* RESUMEN FLOTANTE */

.resumen-flotante-oculto {
  display: none;
}

.comprados {
  text-align: center;
  width: 240px;
  height: 220px;
}

.productosdos {
  margin-top: 1rem;
}

.cartas_flotante {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carta_resumen {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.price {
  font-size: 16px;
  color: #666;
}

.pedidodos {
  border-radius: 10px;
  background-color: #ebc793;
  width: 9rem;
  height: 1.8rem;
  text-align: center;
  margin-top: 1.6rem;
  margin-left: 4.5rem;
  padding-top: 10px;
  border: 1px solid black;
}

.realizardos {
  margin-top: -1rem;
  width: 9rem;
  height: 2.3rem;
  background: none;
  border: none;
}

.ircarrito {
  border-radius: 10px;
  background-color: #ebc793;
  width: 9rem;
  height: 1.8rem;
  text-align: center;
  margin-top: 0.4rem;
  margin-left: 4.5rem;
  padding-top: 10px;
  border: 1px solid black;
}

.ircarritodos {
  margin-top: -1rem;
  width: 9rem;
  height: 2.3rem;
  background: none;
  border: none;
}

.informacion_cartados {
  width: 120px;
  height: 100px;
  background-color: white;
  padding-left: 5px;
  border-radius: 0px 0px 14px 14px;
}

.informacion_carta p {
  font-size: 15px;
  font-weight: bold;
}

.imagen_cartados {
  width: 100px; /* ajusta el ancho según tus necesidades */
  height: 100px; /* ajusta la altura según tus necesidades */
  overflow: hidden;
}

.personajedos {
  width: 100%;
  height: auto;
  display: block;
}

.resumen-flotante-contenido {
  /* Otros estilos que ya tienes */

  /* Añadir scroll vertical */
  overflow-y: auto; /* Esto agrega un scroll vertical cuando sea necesario */

  /* Establecer una altura máxima para el div */
  max-height: 300px; /* Puedes ajustar este valor según tus necesidades */
}

.guardar_cartas {
  margin-bottom: 10px;
  display: flex;
}

.guardar {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 8.5rem;
}

/* VENTANA EMERGENTE */

.resumentres {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  background-color: white;
  height: 360px;
  z-index: 9999;
  margin-left: -65rem;
  margin-top: 7rem;
  border-radius: 2px;
  border: 4px solid #304c8b;
}

.productostres {
  grid-column: 1 / 2;
  margin-left: 3rem;
  margin-top: 3rem;
}

.totaltres {
  font-weight: bold;
}

.lineacuatro {
  margin-top: 2.5rem;
  width: 230px;
}

.productosptres {
  display: flex;
  margin-top: 1rem;
}

.convertidor {
  width: 400px;
  height: 250px;
  grid-column: 2 / 3;
  border: 1px solid black;
  margin-left: 22rem;
  margin-top: -15rem;
}

.cajauno {
  display: grid;
  padding-left: 7px;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  margin: auto;
  border-radius: 10px;
  width: 300px;
  height: 32px;
  align-items: center;
  margin-top: 2.1rem;
  background-color: #d8e9f9;
}

.cajados {
  display: grid;
  padding-left: 7px;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  margin: auto;
  border-radius: 10px;
  width: 300px;
  height: 32px;
  align-items: center;
  background-color: #d8e9f9;
}

.flechados {
  width: 30px;
  height: 25px;
  margin: auto;
  font-size: 1.3rem;
}

.tasacambio {
  margin-left: 3rem;
  margin-top: 1.3rem;
}

.tituloconv {
  font-size: 1.1rem;
  margin-left: 2rem;
  margin-top: 1.3rem;
}

.tasa {
  font-weight: bold;
}

.botones {
  display: grid;
  grid-template-columns: 100px 100px;
  margin-top: 1rem;
  margin-left: 35.8rem;
}

.cancelar {
  border: 1px solid black;
  border-radius: 10px;
  grid-column: 1 / 2;
  width: 80px;
  height: 36px;
  text-align: center;
  background-color: #d8e9f9;
}

.confirmar {
  border: 1px solid black;
  border-radius: 10px;
  grid-column: 2 / 3;
  width: 80px;
  height: 36px;
  text-align: center;
  background-color: #ebc793;
}

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  display: none; /* Por defecto oculto */
}

/* MEDIA QUERY */

@media screen and (min-width: 1630px) {
  header {
    margin-right: 15%;
  }
  .opciones li a {
    font-size: 30px;
  }
  .opciones {
    margin-top: -10px;
  }
  .opciones li button {
    font-size: 35px;
    width: 150px;
  }
  .search_form .search_input {
    width: 300px;
  }
}

@media screen and (max-width: 1266px) {
  .opciones li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 1212px) {
  .opciones li a {
    font-size: 20px;
  }

  .opciones li {
    padding-top: 10px;
  }

  .opciones {
    gap: 1em;
    margin-left: 10px;
  }

  .opciones li button {
    font-size: 22px;
    width: 100px;
    margin-left: 0;
  }
}

@media screen and (max-width: 970px) {
  .abrir-btn {
    display: block;
    margin-left: 22rem;
    height: 5vh;
    margin-top: -0.7rem;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 20px;
  }

  .opciones {
    flex-direction: column;
    align-items: end;
    color: black;
  }

  .opciones li {
    margin-top: 2px;
  }

  .opciones li button {
    width: 100px;
  }

  #navbar {
    position: absolute;
    margin-top: -2.5rem;
    top: 9.7%;
    right: 0;
    background-color: #d8e9f9;
    padding: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  #navbar.visible {
    opacity: 1;
    visibility: visible;
    margin-right: -1rem;
  }

  .carrito {
    margin-left: 1rem;
  }

  .carrito hr {
    width: 18rem;
  }
  /* carta */
  .container {
    margin-left: -8rem;
    margin-right: 20px;
  }

  .list {
    display: flex;
    flex-direction: column;
  }
  .barra_busqueda .search_input {
    margin-left: 60px;
  }

  .item {
    width: 210px;
  }

  .resumen {
    margin-left: -64rem;
    margin-top: 130rem;
  }
}
