* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("../Imagenes/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Estilos navbar */
  header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #d8e9f9;
  }
  
  header .logo_img {
    height: 80px;
    position: absolute;
    left: 1%;
  }
  
  #navbar {
    height: 60px;
    background-color: #d8e9f9;
    padding: 10px;
  }
  
  .opciones {
    display: flex;
    list-style: none;
    padding-top: 9px;
    gap: 2.2em;
    margin-left: 10px;
  }
  
  .opciones li {
    display: inline-block;
    padding-top: 9px;
  }
  
  .opciones li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
  }
  
  #login_btn {
    font-size: 20px;
    background-color: #a3b7dc;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  #login_btn:hover {
    background-color: #304c8b;
    color: white;
  }
  
  .abrir-btn {
    display: none;
  }

  .container_general {
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
    background-color: rgba(9, 32, 43, 0.74);
    border-radius: 10px;
    padding: 20px;
  }
  form{
    display: flex;

  }
  .imagen_usuario {
    width: 300px;
    overflow: hidden;
    border-radius: 14px;
  }
  .info_usuario{
    position: relative;
    margin-left: 5%;
    font-size: 20px;
    color: white;
  }
  input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
    font-size: larger;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
