<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subasta</title>
  <link rel="stylesheet" href="../../public/subasta/css/subasta.css">
</head>
<body>
<h1>Acá va el navbar</h1> 
<main class="container_general">
<!-- Informacion y foto de la carta -->
  <div class="info_carta">
    <img src="../../public/subasta/img/picaro_ejemplo_img.jpeg" alt="">
    <p class="nombre_carta"><b>Pícaro Veneno: Nébula Tóxica</b></p>

   <ul class="detalles_card">
    <li class="tipo"><b>Tipo carta:</b>&nbsp Héroe</li>
    <li class="description"><b>Descripción:</b>&nbsp Entrenado en alquimia
      puede causar gran daño al adversario
      afectando sus habilidades y
      reduciendo la posibilidad de que
      puedan acertar un golpe.</li>
   </ul>
  </div>
<!-- Informacion de la subasta -->
  <div class="subasta_info">
  <h2 class="subasta_info_title">Información de la subasta</h2>
  <div class="valor_base_subasta">
    <p><b>Valor base</b></p>
    <p><b>Créditos:</b> 60</p>
    <p><b>Cartas:</b></p>
    <li>Pícaro Machete</li>
  </div>

  <div class="valor_maximo_subasta">
    <p><b>Valor Máximo / Compra Inmediata</b></p>
    <p><b>Créditos:</b> 200</p>
    <p><b>Cartas:</b></p>
    <ul class="cartas_v_max">
      <li>Pícaro Machete</li>
      <li>Golpe de Defensa</li>
      <li>Guerrero Tanque</li>
    </ul>
  </div>
  <div class="fechas_subasta">
    <p><b>Fecha de Inicio:</b> 7/04/2024</p>
    <p><b>Fecha Fin:</b> 8/04/2024</p>
    <p><b>Duración de la subasta:</b> 24 horas</p>
  </div>
  <div class="tiempo_restante">
    <p><b>Tiempo Restante: &nbsp00:24:00</b></p>
  </div>
  </div>

<!-- Ofertas -->
<div class="ofertas">
<h2>Ofertas</h2>
<div class="ofertas_jugadores_container">
  <div class="oferta_players">
    <p class="player_name"><b>@ShadowStriker</b></p>
    <p class="credits_player">Créditos: 80</p>
    <p class="cards_player">Cartas: Pícaro Machete, golpe de defensa</p>
  </div>
</div>

<div class="ofertas_jugadores_container">
  <div class="oferta_players">
    <p class="player_name"><b>@ShadowStriker</b></p>
    <p class="credits_player">Créditos: 80</p>
    <p class="cards_player">Cartas: Pícaro Machete, golpe de defensa</p>
  </div>
</div>
<div class="ofertas_jugadores_container">
  <div class="oferta_players">
    <p class="player_name"><b>@ShadowStriker</b></p>
    <p class="credits_player">Créditos: 80</p>
    <p class="cards_player">Cartas: Pícaro Machete, golpe de defensa</p>
  </div>
</div>
<div class="buttons">
  <button class="pujar" onclick="abrirPujar()"><b>Pujar</b></button>
  <button class="compra_rapida" onclick="abrirCompraRapida()" ><b>Compra rápida</b></button>
</div>
</div>
<!-- Emergente Puja-->
<div class="puja_container" >
  <label for="cantidad_creditos" class="c_creditos">
    Cantidad de créditos
  </label>
  <input type="number" name="cantidad_creditos" id="cantidad_creditos">

  <label for="cards_puja">
    Cartas
  </label>
  <select name="cards_puja" id="cards_p">
    <option value="">1</option>
    <option value="">2</option>
    <option value="">3</option>
  </select>
  <div class="buttons">
    <button class="pujar_b">Realizar puja</button>
    <button class="Cancelar" onclick="cerrarEmer()">Cancelar</button>
  </div>
</div>
<!--Compra rápida emergente-->
<div class="compra_rapida_container">
  <label for="cantidad_creditos" class="c_creditos">
    Cantidad de créditos
  </label>
  <input type="number" name="cantidad_creditos" id="cantidad_creditos">

  <label for="cards">
    Cartas
  </label>
  <div class="cards_container">
    <p>Pícaro Machete</p>
    <p>Pícaro Machete</p>
    <p>Pícaro Machete</p>
  </div>
  <div class="buttons">
    <button class="comprar">Comprar</button>
    <button class="cancelar" onclick="cerrarEmer()">Cancelar</button>
  </div>
</div>
</main>
<!-- Ventana Modal_Compra carta -->
<dialog class="modal_01">
  <h2>¡Haz ganado la subasta!</h2>
  <hr>
  <p><b>Carta:</b> <span>Nombre de la carta</span></p>
  <p><b>Créditos pagados:</b> <span>120</span></p>
  <p><b>Fecha de inicio de Subasta:</b> <span>7/14/2024</span></p>
  <p><b>Fecha Fin de Subasta:</b> <span>8/14/2024</span></p>
  <div class="buttons">
    <button class="Detalles_Modal_01">Detalles</button>
    <button class="Cerrar_Modal_01">Cerrar</button>
  </div>
</dialog>
<!-- Ventana Modal_Venta carta -->
<dialog class="modal_02">
  <h2>Tu carta ha sido vendida</h2>
  <hr>
  <p><b>Carta:</b> <span>Nombre de la carta</span></p>
  <p><b>Créditos pagados:</b> <span>120</span></p>
  <p><b>Fecha de inicio de Subasta:</b> <span>7/14/2024</span></p>
  <p><b>Fecha Fin de Subasta:</b> <span>8/14/2024</span></p>
  <div class="buttons">
    <button class="Detalles_Modal_02">Detalles</button>
    <button class="Cerrar_Modal_02">Cerrar</button>
  </div>
</dialog>
<!-- Ventana Modal_Detalles_Buzon -->

<dialog  open class="modal_Detalles_01">
    <!-- Informacion y foto de la carta -->
    <div class="container_Modal_Detalles">
      <div class="container_Buzon">
        <h1 class="nombre_carta"><b>Bandeja de compra y venta</b></h1>
      </div>
      <hr>
      <div class="info_Buzon_Modal">
        <div class="valor_maximo_subasta_Modal">
          <h2>Carta Vendida</h2>
          <p><b>Carta:</b></p>
          <p class="credits_player"><b>Créditos:</b> 80</p>
        </div>
        <div class="fechas_subasta_Modal">
          <p> Fecha de Inicio: 7/04/2024</p>
          <p> Fecha Fin: 8/04/2024</p>
        </div>
        <div class="Creditos_Total">
          <p><b>Creditos Totales: </b>120</p>
          <div class="buttons">
            <button class="Reclamar_Venta">Reclamar</button>
          </div>
        </div>
      </div>
      <div class="info_Buzon_Modal">
        <div class="valor_maximo_subasta_Modal">
          <h2>Carta Comprada</h2>
          <p><b>Carta:</b></p>
          <p class="credits_player"><b>Créditos:</b> 80</p>
        </div>
        <div class="fechas_subasta_Modal">
          <p> Fecha de Inicio: 7/04/2024</p>
          <p> Fecha Fin: 8/04/2024</p>
        </div>
        <div class="Compra_carta">
          <p><b>Carta:</b> 1x Pícaro Veneno: Nébula Toxica</p>
          <div class="buttons">
            <button class="Reclamar_Compra">Reclamar</button>
          </div>
        </div>
      </div>
    </div>
</dialog>
<button id="btn_AbrirModal_01">Abrir_Modal</button>
<button id="btn_AbrirModal_02">Abrir_Modal</button>
<script src="../../public/subasta/js/emergentes.js"></script>
</body>
</html>
