<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/public">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon.png" type="image/x-icon">
  <title>Vitrina de subasta</title>
  <link rel="stylesheet" href="/subasta/css/vitrina_subasta.css">
  <link rel="stylesheet" href="/templates/css/navbarFeatureCSS.css">
</head>

<body>
  <!-- Header -->
  <header>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var token = localStorage.getItem('token');

        if (token !== null) {
          document.querySelector('.login_btn').textContent = 'Cerrar Sesión';
          document.getElementById('register_btn').remove();
          document.querySelector('.login_btn').addEventListener('click', function() {
            localStorage.removeItem('token');
            window.location.reload(true);
          });
        } else {
          console.log('Not logged in');
        }
      });
    </script>
    <nav>
      <%- include('../../templates/navbarEcommerce'); %>
    </nav>
  </header>
  <main>
    <!-- filtros -->
    <div class="filtros">
      <p>Filtros</p>
      <ul class="tipo_filtros">
        <!-- filtro precios -->
        <li>
          <h2>Créditos</h2>
        </li>

        <li><label for="creditos_min">Valor mínimo</label></li>
        <li><input type="number" name="creditos_min" id="creditos_min" placeholder="Escriba el valor" min="0">
          <div class="error_message"></div>
        </li>

        <li><label for="creditos_max">Valor máximo</label></li>
        <li><input type="number" name="creditos_max" id="creditos_max" placeholder="Escriba el valor" min="0">
          <div class="error_message"></div>
        </li>

        <li>
          <label for="Type">Tipo de carta</label>
        </li>

        <li>
          <select class="tipo_carta" name="Type">
            <option value="" disabled selected>Selecciona un tipo</option>
            <option value="Weapon">Armas</option>
            <option value="Armor">Armaduras</option>
            <option value="Hero">Héroes</option>
            <option value="Item">Items</option>
            <option value="Talent">Talentos</option>
          </select>
        </li>
        <button id="filtro_input" onclick="filtrarCartasSubasta()">Filtrar</button>
      </ul>
    </div>
    <div class="container_general">
      <!--Parte barra de búsqueda  -->
      <div class="barra_busqueda">
        <div class="paginas">
          <ul class="listPage">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
          </ul>
      </div>
      <!-- Cartas -->
      <%- include('../../templates/cards_vitrina_subasta'); %>
    </div>
    </div>
    <div id="resumen-flotante" class="resumen-flotante-oculto"></div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/carro_compras/js/resumen_flotante.js"></script>
  <script src="/resumen_flotante/js/deployResumen.js"></script>
  <script src="/js/redirects.js"></script>
  <script src="/subasta/js/filtrarCartasSubasta.js"></script>
  <script src="/vitrina_productos/js/filtrarCartas.js"></script>
  <script src="/inventario/js/miCuenta.js"></script>
</body>

</html>
