<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carta a Subastar</title>
  <link rel="stylesheet" href="/subasta/css/valorCarta.css">
  <link rel="stylesheet" href="/templates/css/navbarFeatureCSS.css">
  <link rel="stylesheet" href="/resumen_flotante/css/style.css">
</head>

<body>


  <header>
    <nav>
      <%- include('../../templates/navbarEcommerce'); %>
    </nav>
  </header>

  <nav class="mobile-menu">
    <div class="mini">
      <a href="#" class="mini-close"><i class="ri-close-line"></i></a>
      <div class="menu-head">
        <div class="top">
          <ul>
            <li>
              <a href="/login"><i class="ri-user-line"></i></a>
            </li>
            <li>
              <a href="/register"><i class="ri-login-box-line"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wider">
      <div class="main-menu">
        <div class="menu-list">
          <ul>
            <li class="has-child">
              <a><span>MIS SERVICIOS</span></a>
              <ul>
                <li><a href="/miCuenta">Mi Cuenta</a></li>
                <li><a onclick="redirectMiBanco()"></a>Mi Banco</a></li>
                <li><a href="/subasta">Subasta</a></li>
                <li><a href="/jugarOnline">Jugar Online</a></li>
                <li><a href="/torneo">Torneo</a></li>
              </ul>
            </li>
            <div class="logo">
              <a href=""><img src="/vista_valor_carta/logo_img.png" alt="" /></a>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="overlay"></div>
  </div>
  </div>

  </header>

  <main>

    <div class="container">

      <div class="left-side">
        <div class="row1">
          <div class="subrow1">
            <h3 style="color: white;">MI BANCO</h3>
            <form action="" class="form-search" role="search">
              <input class="search_input" type="search" placeholder="Search" maxlength="35" onkeydown="filtrarPorBusqueda(event)">
            </form>
            <div class="paginas">
              <ul class="listPage">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
              </ul>
            </div>

          </div>
          <%- include('../../templates/cartas_banco', {datos: banco}); %>
        </div>

      </div>
      <div class="right-side">
        <div class="row1">
          <div class="subrow1">
            <h3 style="color: white;">INVENTARIO</h3>
            <form action="" class="form-search" role="search">
              <input class="search_input" type="search" placeholder="Search" maxlength="35" onkeydown="filtrarPorBusqueda(event)">
            </form>
            <div class="paginas">
              <ul class="listPage">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
              </ul>
            </div>

          </div>
          <%- include('../../templates/cartas', {datos: inventario}); %>

        </div>
      </div>
    </div>

    <div class="container-2">
      <input type="text" placeholder="Creditos Minimos">
      <input type="text" placeholder="Creditos Maximos">
      <button>Seleccionar carta como parte de pago</button>
      <button>Seleccionar mi carta</button>
      <button>ENVIAR SUBASTA</button>
    </div>



  </main>

  <script src="/js/redirects.js"></script>
  <script src="/lista_deseos/js/enviar.js"></script>
  <script src="/lista_deseos/js/eliminar.js"></script>
  <script src="/subasta/js/paginacionVentaCartas.js"></script>
  <script src="/lista_deseos/js/jugarOnline.js"></script>
  <script src="/lista_deseos/js/hamburguer.js"></script>
  <script src="js/enviar.js"></script>
  <script src="js/eliminar.js"></script>
  <script src="js/paginacion.js"></script>
  <script src="/subasta/js/valorCartas.js"></script>
  <script src="js/jugarOnline.js"></script>
  <script src="/vitrina_productos/js/filtrarCartas.js"></script>
</body>

</html>