<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/public">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon.png" type="image/x-icon">
  <title>THE NEXUS BATTLES II</title>
  <link rel="stylesheet" href="/vitrina_productos/css/e-commerce.css">
  <link rel="stylesheet" href="/resumen_flotante/css/style.css">
  <link rel="stylesheet" href="/lista_deseos/css/style.css">
</head>

<body>
  <!-- Header -->
  <header>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var token = localStorage.getItem('token');

        if (token !== null) {
          document.querySelector('.login_btn').textContent = 'Cerrar Sesión';
          document.getElementById('register_btn').remove();
          document.querySelector('.login_btn').addEventListener('click', function() {
            localStorage.removeItem('token');
            window.location.reload(true);
          });
        } else {
          console.log('Not logged in');
        }
      });
    </script>
    <a href="/">
      <img src="/vitrina_productos/img/logo.png" class="logo_img" alt="">

    </a>
    <!-- Barra de navegación -->
    <img src="/vitrina_productos/img/hamburguer_icon.svg" class="abrir-btn" alt="">
    <nav class="" id="navbar">
      <ul class="opciones">
        <li><a href="/miCuenta" onclick="miCuenta()">Mi cuenta</a></li>
        <li><a onclick="redirectMiBanco()">Mi banco</a></li>
        <li><a href="/subasta">Subasta</a></li>
        <li><a href="/jugarOnline">Jugar online</a></li>
        <li><a href="/torneo">Torneo</a></li>
        <li><a id="mostrar-resumen-flotante">Resumen Flotante</a></li>
        <li><a onclick="redirectListaDeseos()" id="lista-deseos">Lista Deseos</a></li>
        <li><a href="/login"><button class="login_btn">Login</button></a></li>
        <li id="btn-listica"><a href="/register"><button class="login_btn" id="register_btn">Sign Up</button></a></li>
      </ul>
    </nav>
  </header>
  <!-- Vitrina de productos -->
  <main>
    <!-- filtros -->
    <div class="filtros">
      <ul class="tipo_filtros">
        <!-- filtro precios -->
        <li> <h2>Precios</h2> </li> <li> <label for="min\_price"><strong>Precio mínimo:</strong></label> <input type="number" id="min\_price" name="min" min="0" step="1000"> </li> <li> <label for="max\_price"><strong>Precio máximo:</strong></label> <input type="number" id="max\_price" name="max" min="0" step="1000"> </li> <li> <h2>Orden</h2> </li> <li><select class="seleccionar\_precio" name="sortOrder"> <option value="" disabled selected>Orden</option> <option value="desc">Mayor a menor</option> <option value="asc">Menor a mayor</option> </select></li>

        <!-- Tipo de carta -->
        <li>
          <h2>Tipo de carta</h2>
        </li>
        <li><select class="tipo_carta" name="Type">
            <option value="" disabled selected>Selecciona un tipo</option>
            <option value="Weapon">Armas</option>
            <option value="Armor">Armaduras</option>
            <option value="Hero">Héroes</option>
            <option value="Item">Items</option>
            <option value="Talent">Talentos</option>
          </select></li>
        <!-- filtro promocion -->
        <li>
          <input type="checkbox" name="sale" class="promociones" id="promociones" value="promociones"> <b>Promoción</b>
        </li>
          <button id="botonFiltrar">Filtrar</button>
      </ul>
    </div>
    <div class="container_general">
      <!--Parte barra de búsqueda  -->
      <div class="barra_busqueda">
        <div class="paginas">
          <ul class="listPage">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
        <form action="" class="search_form">
          <input type="text" class="search_input" placeholder="Ingresa tu búsqueda" maxlength="35" onkeydown="filtrarPorBusqueda(event)">
          <img src="/vitrina_productos/img/search_icon.svg" alt="search_icon" class="search_icon">
        </form>
      </div>

      <!-- Cartas -->

      <%- include('../../templates/cartas_vitrina'); %>
      
    </div>


    </div>

    </div>
    </div>
    </div>
    </div>
    <div id="resumen-flotante" class="resumen-flotante-oculto"></div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/carro_compras/js/resumen_flotante.js"></script>
  <script src="/resumen_flotante/js/deployResumen.js"></script>
  <script src="/js/redirects.js"></script>
  <script src="/vitrina_productos/js/navbar.js"></script>
  <script src="/vitrina_productos/js/filtrarCartas.js"></script>
  <script src="/vitrina_productos/js/vistaDetallada.js"></script>
  <script src="/vitrina_productos/js/paginacion.js"></script>
  <script src="/vitrina_productos/js/addCarro.js"></script>
  <script src="/vitrina_productos/js/addListaDeseos.js"></script>
  <script src="/inventario/js/miCuenta.js"></script>
</body>

</html>