<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon.png" type="image/x-icon">
  <title>THE NEXUS BATTLES II</title>
  <link rel="stylesheet" href="/vitrina_productos/css/e-commerce.css">
  <link rel="stylesheet" href="/resumen_flotante/css/style.css">
  <link rel="stylesheet" href="/templates/css/navbarFeatureCSS.css">
</head>

<body>
  <!-- Header -->
  <header>

    <nav>
      <%- include('../../templates/navbarEcommerce'); %>
    </nav>

  </header>

  <!-- VITRINA -->
  <main>

    <!-- LADO IZQUIERDO FILTRO -->
    <div class="left-side">
      <div class="filtros">
        <ul class="tipo_filtros">
        <li>
          <h2>Precios</h2>
        </li>
        <li><select class="seleccionar_precio" name="sortOrder">
              <option value="" disabled selected>Orden</soption>
              <option value="desc">Mayor a menor</option>
              <option value="asc">Menor a mayor</option>
            </select>
        </li>

        <li>
          <h2>Tipo de carta</h2>
        </li>
        <li><select class="seleccionar_precio" name="min_max">
              <option value="" disabled selected>Precios</soption>
              <option value="20000-200000">20.000 - 200.000</option>
              <option value="200000-800000">200.000 - 800.000</option>
              <option value="800000-1400000">800.000 - 1.400.000</option>
              <option value="1400000-2000000">1.400.000 - 2.000.000</option>
            </select>
        </li>
        <li>
          <h2>Tipo de carta</h2>
        </li>
        <li><select class="tipo_carta" name="Type">
            <option value="" disabled selected>Selecciona un tipo</option>
            <option value="Weapon">Armas</option>
            <option value="Armor">Armaduras</option>
            <option value="Hero">Héroes</option>
            <option value="Item">Items</option>
            <option value="Talent">Talentos</option>
            </select>
        </li>
        <li>
          <input type="checkbox" name="sale" class="promociones" id="promociones" value="promociones"> <b>Promoción</b>
        </li>
        <button id="filtro_input" onclick="filtrarCartas()">Filtrar</button>
        </ul>
      </div>
    </div>

    <!-- LADO DERECHO CARTAS -->
    <div class="right-side">
      <div class="row1">
        <h3 style="color: white;">VITRINA DE PRODUCTOS</h3>
        <div class="filtro_busqueda">
          <form action="" class="form-search">
            <input type="search" class="search_input" placeholder="Ingresa tu búsqueda" maxlength="35" onkeydown="filtrarPorBusqueda(event)">
          </form>
        </div>

    
        <div class="paginas">
          <ul class="listPage">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
      <div class="row2">
        <%- include('../../templates/cartas_vitrina'); %>
      </div>
    </div>
    <div id="resumen-flotante" class="resumen-flotante-oculto"></div>
  </main>

  <script src="/js/redirects.js"></script>

  <script src="/vitrina_productos/js/filtrarCartas.js"></script>
  <script src="/vitrina_productos/js/vistaDetallada.js"></script>
  <script src="/vitrina_productos/js/paginacion.js"></script>
  <script src="/vitrina_productos/js/addCarro.js"></script>
  <script src="/vitrina_productos/js/addListaDeseos.js"></script>
  <script src="/inventario/js/miCuenta.js"></script>
</body>

</html>