<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro</title>
  <link rel="stylesheet" href="manejo_usuarios/css/register-style.css" />
</head>

<body>
  <main>
    <h1>¡Regístrate!</h1>
    <div class="container">
      <form id="register">
        <div class="col_container">
          <div class="col">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" maxlength="50" oninput="LimitarCaracteres(event)" required />
            <label for="apellido">Apellidos</label>
            <input type="text" name="apellido" id="apellido" maxlength="50" oninput="LimitarCaracteres(event)" required />
            <label for="username">Apodo</label>
            <input type="text" name="username" id="username" maxlength="50" oninput="ValidarNombreUsuario()" required />
            <p>
              Este apodo se mostrará en el juego. <br />El apodo no puede ser
              ofensivo.
            </p>
          </div>
          <div class="col">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" maxlength="50" required />
            <label for="password">Contraseña</label>
            <div class="svg_input_container">
              <input type="password" name="password" id="password" minlength="8" maxlength="50" oninput="ValidarContrasena()" required />
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="eye" id="show">
                <path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="eye" id="eye">
                <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z" />
              </svg>
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            </div>
            <p>
              Longitud de mínimo 8 caracteres, incluyendo minúsculas, mayúsculas, caracteres y números.
            </p>
            <div class="file_input_container">
              <label for="avatar" required>Avatar</label>
              <input type="file" name="avatar" id="avatar" class="file_input" accept=".jpg, .png" required onchange="ValidarArchivo()" />
            </div>
            <p>Solo se permiten archivos .jpg y .png de máximo 500 kB.</p>
          </div>
        </div>
        <input type="text" id="avataroculto" name="avataroculto" value="" style="display: none" />
        <div class="col_container2">
          <div class="metodo_pago">
            <h2>Metodo de pago</h2>
            <div class="svg_container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="visa">
                <path d="M470.1 231.3s7.6 37.2 9.3 45H446c3.3-8.9 16-43.5 16-43.5-.2 .3 3.3-9.1 5.3-14.9l2.8 13.4zM576 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48zM152.5 331.2L215.7 176h-42.5l-39.3 106-4.3-21.5-14-71.4c-2.3-9.9-9.4-12.7-18.2-13.1H32.7l-.7 3.1c15.8 4 29.9 9.8 42.2 17.1l35.8 135h42.5zm94.4 .2L272.1 176h-40.2l-25.1 155.4h40.1zm139.9-50.8c.2-17.7-10.6-31.2-33.7-42.3-14.1-7.1-22.7-11.9-22.7-19.2 .2-6.6 7.3-13.4 23.1-13.4 13.1-.3 22.7 2.8 29.9 5.9l3.6 1.7 5.5-33.6c-7.9-3.1-20.5-6.6-36-6.6-39.7 0-67.6 21.2-67.8 51.4-.3 22.3 20 34.7 35.2 42.2 15.5 7.6 20.8 12.6 20.8 19.3-.2 10.4-12.6 15.2-24.1 15.2-16 0-24.6-2.5-37.7-8.3l-5.3-2.5-5.6 34.9c9.4 4.3 26.8 8.1 44.8 8.3 42.2 .1 69.7-20.8 70-53zM528 331.4L495.6 176h-31.1c-9.6 0-16.9 2.8-21 12.9l-59.7 142.5H426s6.9-19.2 8.4-23.3H486c1.2 5.5 4.8 23.3 4.8 23.3H528z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="paypal">
                <path d="M111.4 295.9c-3.5 19.2-17.4 108.7-21.5 134-.3 1.8-1 2.5-3 2.5H12.3c-7.6 0-13.1-6.6-12.1-13.9L58.8 46.6c1.5-9.6 10.1-16.9 20-16.9 152.3 0 165.1-3.7 204 11.4 60.1 23.3 65.6 79.5 44 140.3-21.5 62.6-72.5 89.5-140.1 90.3-43.4 .7-69.5-7-75.3 24.2zM357.1 152c-1.8-1.3-2.5-1.8-3 1.3-2 11.4-5.1 22.5-8.8 33.6-39.9 113.8-150.5 103.9-204.5 103.9-6.1 0-10.1 3.3-10.9 9.4-22.6 140.4-27.1 169.7-27.1 169.7-1 7.1 3.5 12.9 10.6 12.9h63.5c8.6 0 15.7-6.3 17.4-14.9 .7-5.4-1.1 6.1 14.4-91.3 4.6-22 14.3-19.7 29.3-19.7 71 0 126.4-28.8 142.9-112.3 6.5-34.8 4.6-71.4-23.8-92.6z" />
              </svg>
            </div>
            <input type="radio" id="visa" name="metodospago" value="visa" class="pago_radio_btn" onclick="card_display()" required />
            <label for="visa">Visa</label><br />
            <input type="radio" id="paypal" name="metodospago" value="paypal" class="pago_radio_btn" onclick="card_display()" required />
            <label for="paypal">PayPal</label><br />
          </div>
          <div class="card">
            <label for="numero_tarjeta">Número tarjeta</label>
            <input type="text" name="numero_tarjeta" id="numero_tarjeta" maxlength="16" oninput="validarTarjetaVisa()" onkeydown="LimitarNumeros(event)" />
            <label for="cvv">CVV</label>
            <input type="password" name="cvv" id="cvv" class="cvv_input" minlength="3" maxlength="3" onkeydown="LimitarNumeros(event)" />
            <label for="fecha_exp">Fecha expiración</label>
            <input type="month" name="fecha_exp" id="fecha_exp" class="date_input" oninput="ValidarFecha()" />
          </div>
          <div class="preguntas">
            <h2>Preguntas de seguridad</h2>
            <label for="pregunta_1">¿Cuál fue el nombre de tu primera mascota?</label>
            <input type="text" name="pregunta_1" id="pregunta_1" maxlength="50" required />
            <label for="pregunta_2">¿Cuál es el nombre de tu colegio de la infancia?</label>
            <input type="text" name="pregunta_2" id="pregunta_2" maxlength="50" required />
            <label for="pregunta_3">¿Cuál fue tu primer videojuego?</label>
            <input type="text" name="pregunta_3" id="pregunta_3" maxlength="50" required />
          </div>
        </div>
        <button type="submit" value="REGISTRAR" class="btn_submit" id="submit">
          REGISTRAR
        </button>
      </form>
      <img src="manejo_usuarios/img/logo_nb2_v2.png" />
    </div>
  </main>
  <script src="manejo_usuarios/js/card.js"></script>
  <script src="manejo_usuarios/js/validaciones.js"></script>
  <script src="manejo_usuarios/js/pswd_animation.js"></script>
  <script src="manejo_usuarios/js/register.js" type="module"></script>
</body>

</html>