<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/manejo_usuarios/css/cuentaCreadaConfirmada.css">
  <title>Cuenta Creada</title>
</head>

<body>
  <div class="background-message">
    <div class="colum1"></div>

    <div class="colum2">
      <div class=" message-container glass-effect ">
        <a href="/"><img src="/manejo_usuarios/img/imagen_logo_columna.png" alt=""></a>
        <div class="message">
          <h1>¡Bienvenido a </h1>
          <h1>The Nexus Battles II!</h1>
          <h3>Te estás intentando registrar</h3>
          <h3>¡Solo falta un paso más!</h3>
          <h3>Verifica tu correo electrónico.</h3>
          <a href="/" id="button-pag">Página principal</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>