<div class="info_Buzon_Modal">
    <% console.log(dato.CARTA) %>
    <div class="valor_maximo_subasta_Modal">
        <h2>Carta Vendida</h2>
        <p><b>Carta:</b> <%= dato.CARTA %></p>
        <p class="credits_player"><b>Créditos:</b> <%= dato.CREDITOS %></p>
    </div>
    <div class="Creditos_Total">
        <p><b>Creditos Totales: </b><%= dato.CREDITOS %></p>
        <div class="buttons">
            <button class="Reclamar_Venta">Reclamar</button>
        </div>
    </div>
</div>
