<!-- Emergente Puja-->
<link rel="stylesheet" href="/templates/css/popUpPuja.css">
<div class="puja_container" >
  <label for="cantidad_creditos" class="c_creditos">
    Cantidad de créditos
  </label>
  <input type="number" name="cantidad_creditos" id="cantidad_creditos" oninput="validarNumero(this)">

  <label for="cards_puja">
    Cartas
  </label>
  <select name="cards_puja" id="cards_p">
    <option value="<%= carta.Name %>"><%= carta.Name %></option>
    <option value="">2</option>
    <option value="">3</option>
  </select>
  <div class="buttons">
    <button class="pujar_b">Realizar puja</button>
    <button class="Cancelar" onclick="cerrarEmer()">Cancelar</button>
  </div>
</div>
