* {
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
}

body {
  background-image: url(/subasta/img/fondoooo.jpg);
  background-size: cover;
}

main {
  margin-top: 8px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  width: 1800px;
  height: 650px;
  margin-top: 20px;
  transform: translateX(3%);
}

.left-side {
  display: grid;
  padding: 10px;
  border-radius: 14px;
  background: #02020279;
  border: 3px solid #0202021f;
  backdrop-filter: blur(0.2rem);
}

.right-side {
  display: grid;
  padding: 10px;
  border-radius: 14px;
  background: #02020279;
  border: 3px solid #0202021f;
  backdrop-filter: blur(0.2rem);
}

.container-2 {
  color: white;
  margin-top: 30px;
  background: #02020279;
  border: 3px solid #0202021f;

  width: 1800px;
  height: 100px;
  transform: translateX(3%);
  border-radius: 14px;
  grid-gap: 20px;
  padding: 30px;

  grid-template-columns: repeat(5, 1fr);
  display: grid;
}

.row1 {
  display: grid;
  grid-template-rows: 10% 90%;
  align-items: center;
}

.subrow1 {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.subrow2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

article.icons {
  display: none;
}

.card {
  min-height: auto !important;
  height: auto !important;
  line-height: 10px;
}

.card-select {
  border: 3px solid yellow !important;
  background-color: yellow !important;
}

/* PAGINACION */

.list {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

.paginas {
  margin-top: 10px;
  bottom: 20px;
  left: 10%;
  text-align: center;
  margin-left: 7rem;
}

.listPageBanco,
.listPageInventario {
  display: flex;
  padding: 5px;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.listPageBanco li,
.listPageInventario li {
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  width: 60px;
  border-radius: 10px;
  border: transparent;
}

.listPageBanco li:hover,
.listPageInventario li:hover {
  background-color: #304c8b;
  color: white;
}

.active {
  color: red;
}
