<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/creacion.css">
    <title>Inventario</title>
</head>
<body>
    <header>
        <a href="../HTML/visualizacion_inventario.html
        "><img src="../Imagenes/logo_nb2_v2.png" class="logo_img" alt="" ></a>
          <!-- Barra de navegación -->
        <img src="../img/hamburguesa_icon.svg" class="abrir-btn" alt="">
        <nav class="" id="navbar">
          <ul class="opciones">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Mi banco</a></li>
            <li><a href="#">Subasta</a></li>
            <li><a href="#">Jugar online</a></li>
            <li><a href="#">Torneo</a></li>
            <li><a href="#">Resumen Flotante</a></li>
            <li><a href="#">Lista Deseos</a></li>
            <li><a href="#"><button class="login_btn">Cerrar sesion</button></a></li>
          </ul>
        </nav>
      </header>
    <main>
        <!-- Cartas -->
        <div class="container_productos">
            <!-- <div class="front">
                <img class="agregar" src="../Imagenes/agregar.png" alt="">
            </div> -->
            <!-- /////////// -->

            <div class="card">
                <div class="imagen_carta">
                    <img src="../Imagenes/usuario.png" class="personaje" id="img">
                    <input type="file" name="foto" id="foto" accept="img">
                </div>
                <div class="informacion_carta">
                    <div class="nombre">
                        <p>Nombre de la arma</p>
                        <input type="text" name="" id="" placeholder="Nombre del personaje">
                    </div>
                    <div class="nombre">
                        <p>Poder:</p>
                        <input type="text" name="" id="" placeholder="Poder">
                    </div>
                    <div class="nombre">
                        <p>Vida:</p>
                        <input type="text" name="" id="" placeholder="Vida">
                    </div>
                    <div class="nombre">
                        <p>Defensa:</p>
                        <input type="text" name="" id="" placeholder="Defensa">
                    </div>
                    <div class="nombre">
                        <p>Ataque:</p>
                        <input type="text" name="" id="" placeholder="Ataque">
                    </div>
                    <div class="nombre">
                        <p>Daño:</p>
                        <input type="text" name="" id="" placeholder="Daño">
                    </div>
                    <a href="descripcion.html" id="botonderotacion">
                        <button class="siguiente">
                            Siguiente
                        </button>
                    </a>
                </div>
                <a href="visualizacion_inventario.html">
                    <button class="guardar-cambios">
                        Guardar Cambios
                    </button>
                </a>
            </div>
        </div>
    </main>
    <script src="../JS/creacion.js"></script>
</body>
</html>