<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/modificacion_inventario.css">
    <title>Inventario</title>
</head>
<body>
    <header>
        <img src="../Imagenes/logo_nb2_v2.png" class="logo_img" alt="">
          <!-- Barra de navegación -->
        <img src="../img/hamburguesa_icon.svg" class="abrir-btn" alt="">
        <nav class="" id="navbar">
          <ul class="opciones">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Mi banco</a></li>
            <li><a href="#">Subasta</a></li>
            <li><a href="#">Jugar online</a></li>
            <li><a href="#">Torneo</a></li>
            <li><a href="#">Resumen Flotante</a></li>
            <li><a href="#">Lista Deseos</a></li>
            <li><a href="#"><button class="login_btn">Login</button></a></li>
          </ul>
        </nav>
      </header>
    <main>
        <!-- Cartas -->
        <div class="container_productos">
            <!-- <div class="front">
                <img class="agregar" src="../Imagenes/agregar.png" alt="">
            </div> -->
            <!-- /////////// -->

            <div class="card">
                <div class="imagen_carta">
                    <img src="../Imagenes/Frostfang.jpg" class="personaje">
                </div>
                <div class="informacion_carta">
                    <p>Cedric Cogswell</p>
                    <p>Poder:</p>
                    <p>Vida:</p>
                    <p>Defensa:</p>
                    <p>Ataque:</p>
                    <p>Daño:</p>
                    <a href="modificacion_descripcion.html" id="botonderotacion">
                        <button class="siguiente">
                            Siguiente
                        </button>
                    </a>
                </div>
                <a href="visualizacion_inventario.html">
                    <button class="guardar-cambios">
                        Guardar Cambios
                    </button>
                </a>
            </div>
        </div>
    </main>
    <script src="../JS/modificacion.js"></script>
</body>
</html>