<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/modificacion_descripcion.css">
    <title>Inventario</title>
</head>
<body>
    <nav>
        <!-- <img src="../Imagenes/logo_nb2_v2.png" class="logo" > -->
        <button class="close">Cerrar Sesión</button>
    </nav>
    <main>
        <!-- Cartas -->
        <div class="container_productos">
            <!-- <div class="front">
                <img class="agregar" src="../Imagenes/agregar.png" alt="">
            </div> -->
            <!-- /////////// -->

            <div class="card">
                <div class="informacion_carta">
                    <h2>
                        Descripcion:
                    </h2>
                    <h3>
                        Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. Fusce eleifend aliquet justo,<br>non fermentum est convallis nec.<br> 
                        Integer varius eu justo nec cursus. <br>In euismod lacus et semper aliquam.<br> 
                        Aliquam vel mollis lorem. <br>Integer dictum feugiat risus<br>
                        ,a tempus nibh efficitur sit amet.Suspendisse potenti.<br>
                        Donec nec diam nec felis commodo auctor.<br>
                        Vivamus malesuada libero ac mi lobortis, <br>
                        at rhoncus lectus hendrerit. Suspendisse potenti. <br>
                        Ut nec fermentum nunc. <br>Nam interdum quam at mi venenatis fermentum. <br>
            
                    </h3>
                    <a href="modificacion_inventario.html" id="botonderotacion">
                        <button class="siguiente">
                            Volver
                        </button>
                    </a>
                </div>
                <a href="visualizacion_inventario.html">
                    <button class="guardar-cambios">
                        Guardar Cambios
                    </button>
                </a>
            </div>
        </div>
    </main>
    <script src="../JS/modificacion.js"></script>
</body>
</html>












