<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/inventario/css/modificacion_inventario.css">
    <title>Inventario</title>
</head>
<body>
    <header>
        <img src="/inventario/imagenes/logo_nb2_v2.png" class="logo_img" alt="">
          <!-- Barra de navegación -->
        <img src="/inventario/imagenes/hamburguer_icon.svg" class="abrir-btn" alt="">
        <nav class="" id="navbar">
          <ul class="opciones">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Mi banco</a></li>
            <li><a href="#">Subasta</a></li>
            <li><a href="/jugarOnline" onclick="jugar_online()">Jugar online</a></li>
            <li><a href="#">Torneo</a></li>
            <li><a href="#">Resumen Flotante</a></li>
            <li><a href="#">Lista Deseos</a></li>
            <li><a href="#"><button class="login_btn">Login</button></a></li>
          </ul>
        </nav>
      </header>
    <main>
        <!-- Cartas -->
        <div class="container_productos">
            <!-- <div class="front">
                <img class="agregar" src="../Imagenes/agregar.png" alt="">
            </div> -->
            <!-- /////////// -->

            <div class="card">
                <div class="imagen_carta">
                    <img src="/inventario/imagenes/Frostfang.jpg" class="personaje" id="imagen">
                    <input type="file" name="pic" id="pic" accept="imagen">
                </div>
                <div class="informacion_carta">
                    <div class="nombre">
                        <p>Nombre:</p>
                        <input type="text" name="" id="" placeholder="Frostfang">
                    </div>
                    <div class="nombre">
                        <p>Poder:</p>
                        <input type="text" name="" id="" placeholder="Poder">
                    </div>
                    <div class="nombre">
                        <p>Vida:</p>
                        <input type="text" name="" id="" placeholder="Vida">
                    </div>
                    <div class="nombre">
                        <p>Defensa:</p>
                        <input type="text" name="" id="" placeholder="Defensa">
                    </div>
                    <div class="nombre">
                        <p>Ataque:</p>
                        <input type="text" name="" id="" placeholder="Ataque">
                    </div>
                    <div class="nombre">
                        <p>Daño:</p>
                        <input type="text" name="" id="" placeholder="Daño">
                    </div>
                    <div class="nombre-tipo">
                        <p>Tipo:</p>
                        <select name="select">
                            <option value="value0">Escoge el Heroe</option>
                            <option value="value1">Guerrero</option>
                            <option value="value2">Guerrero Tanque</option>
                            <option value="value3">CapyMago de hielo</option>
                            <option value="value4">CapyMago de fuego</option>
                            <option value="value5">picaro machete</option>
                            <option value="value6">picaro veneno</option>
                          </select>
                    </div>
                    <div class="container-buttons">
                        <a  href="/modificacionCartaDescripcion" onclick="modificacionCartaDescripcion()">
                            <button class="siguiente">
                                Siguiente
                            </button>
                        </a>
                        <a href="/" onclick="navRouter()">
                            <button id="guardar-cambios" class="guardar-cambios">
                                Guardar Cambios
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/inventario/js/modificacionInv.js"></script>
</body>
</html>