<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/inventario/css/subasta.css">
  <link rel="icon" href="/img/icon.png" type="image/x-icon">

  <link rel="stylesheet" href="/templates/css/navbarFeatureCSS.css">
  <link rel="stylesheet" href="/resumen_flotante/css/style.css">
  <title>Subasta</title>
</head>

<body>
  
  <header>
    <nav>
      <%- include('../../templates/navbarEcommerce'); %>
    </nav>
  </header>

  <main>
    <div class="title-container">
      <h2 class="title-text">
        SUBASTA
      </h2>
      <div class="game-coin-container">
        <h2 class="game-coin">
          0
        </h2>
        <img src="/inventario/imagenes/game-coin.png" class="coin-img">
      </div>
    </div>
    <!-- Cartas -->
    <div class="container_productos">
      <!-- <div class="front">
              <img class="agregar" src="../Imagenes/agregar.png" alt="">
          </div> -->
      <!-- /////////// -->

      <div class="card">

        <div class="capa-opaca"></div>
        <img src="/inventario/imagenes/comprar-cartas.JPG" class="personaje" id="imagen">
        <h2 class="texto"> COMPRA <br> CARTAS </h2>

      </div>
      <div class="card">

        <div class="capa-opaca"></div>
        <img src="/inventario/imagenes/vender-cartas.JPG" class="personaje" id="imagen">
        <h2 class="texto"> VENTA <br> CARTAS</h2>

      </div>

      <div class="card">
        <div class="capa-opaca"></div>
        <img src="/inventario/imagenes/recoleccion-ventas.JPG" class="personaje" id="imagen">
        <h2 class="texto"> RECOLECCIÓN <br> DE <br> VENTAS</h2>

      </div>
      <div id="resumen-flotante" class="resumen-flotante-oculto"></div>

  </main>

  <script src="/inventario/js/jugarOnline.js"></script>
  <script src="/js/redirects.js"></script>
</body>

</html>
