<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/carro_compras/css/flotante.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../img/logo.png" class="logo_img" alt="">
          <!-- Barra de navegación -->
        <img src="../img/hamburguesa_icon.svg" class="abrir-btn" alt="">
        <nav class="" id="navbar">
          <ul class="opciones">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Mi banco</a></li>
            <li><a href="#">Subasta</a></li>
            <li><a href="#">Jugar online</a></li>
            <li><a href="#">Torneo</a></li>
            <li><a href="#">Resumen Flotante</a></li>
            <li><a href="#">Lista Deseos</a></li>
            <li><a href="#"><button class="login_btn">Login</button></a></li>
          </ul>
        </nav>
      </header>
      <section>
        <div id="resumen-flotante" class="resumen-flotante-oculto">
          <div class="resumen-flotante-contenido">
              <!-- Contenido del resumen flotante -->
              <h2>Resumen Flotante</h2>
              <!-- Otro contenido del resumen flotante -->
          </div>
      </div>
      </section>
</body>
</html>