html,
body {
  background-color: white;
  margin: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
  background-image: url();
}

.background-message {
  display: grid;
  grid-template-columns: 40% 60%;
}

.colum1 {
  background-image: url("/manejo_usuarios/img/confirmarCuenta/human2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.message-container {
  width: 45rem;
  height: 50rem;
  border: 5px solid black;
  margin: 0 auto;
  border-radius: 1rem;
  transform: translate(0, 4%);
  padding: 30px;
  text-align: center;
}

.glass-effect {
  background: #3f3f3f79;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}

.message-container h1 {
  font-size: 40px;
}

#button-pag {
  width: 300px;
  font-size: 50px;
  border: transparent;
  background-color: #304c8b;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  align-items: center;
  align-self: center;
  color: white;
  margin-top: 30px;
  text-decoration: none;
}

.message-container .message {
  transform: translate(0, 10%);
}

@media only screen and (max-width: 1340px) {
  .colum1 {
    display: none;
  }
}
