html,
body {
  background-color: white;
  margin: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
  background-image: url();
}

.background-Account {
  display: grid;
  grid-template-columns: 40% 60%;
}

.colum2 img {
  width: 350px;
}

.colum1 {
  background-image: url("/manejo_usuarios/img/recuperarContrasena/human3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.colum2 {
  width: 45rem;
  height: 55rem;
  border: 5px solid black;
  margin: 0 auto;
  border-radius: 1rem;
  transform: translate(0, 4%);
  padding: 30px;
  text-align: center;
}

.glass-effect {
  background: #3f3f3f79;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}

.colum2 input {
  background-color: #ffffffcb;
}

.colum2 button {
  width: 300px;
  font-size: 30px;
  border: transparent;
  background-color: #304c8b;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  align-items: center;
  align-self: center;
  color: white;
  margin-top: 30px;
}

.colum2 #recovery-form-container {
  margin-top: 20px;
}

@media only screen and (max-width: 1430px) {
  .colum1 {
    display: none;
  }
}
