* {
  margin: 0;
  padding: 0;
}
:root {
  --carta:white;
  --precio:#a3b7dc;
  --precio_hover:#304c8b;
}

body {
  background-image: url('/vitrina_productos/img/fondo.png' ) ;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos navbar */
header {
background-color: white;
}


/* Vitrina de productos */
.container_general {
  width:60%;
  margin-left: 10%;
  margin-top: 10px;
  position: relative;
  background:linear-gradient(45deg,#304b8b88, #a3b7dc7b, #d8e9f97b);
  border-radius: 10px;
}

/* Barra de búsqueda */
.container_general .search_form {
  display: flex;
  justify-content: flex-end;
  margin-right: 8%
}

.search_form .search_input {
  margin-top: 1%;
  height: 27px;
  width: 350px;
  border: 2px solid black;
  text-align: center;
}

/* search icon */
.search_icon {
  position: relative;
  height: 24px;
  margin-top: 1.4%;
  right: 30px;
}

main{
  display: flex;
}
/* Filtros */
.filtros{
  margin-left: 20px;
  background:linear-gradient(45deg,#304b8b88, #a3b7dc7b, #d8e9f97b);
  width: 200px;
  margin-top: 20px;
}
.filtros h1{
  text-align: center;
  border-bottom: 1px solid white;
  margin-top: 10px;
}
.tipo_filtros{
list-style: none;
}
.tipo_filtros li{
  margin-top: 25px;
  font-size: 18px;
  cursor:pointer;
  margin-left: 10px;
}

/* Filtro selects */
.tipo_carta, .seleccionar_precio{
  width: 170px;
  margin-right: 20px;
  font-size: 14px;
  height: 25px;
}
.promociones + b {
  font-size: 20px;
padding-top: 2px;
margin-top: 10px;
}
.promociones{
  transform: scale(1.4);
}


/* Filtro boton enviar */
#filtro_input{
margin-top: 18px;
width: 160px;
margin-left: 19px;
margin-right: 20px;
height: 20px;
font-weight: bold;
font-size: 16px;
padding-bottom: 20px;
margin-bottom: 10px;
cursor: pointer;
border-radius: 7px;
}





@media screen and (min-width:1600px) and (max-width:1920px){
.search_form .search_icon{
  top: -2px;
}
.opciones li a{
  font-size: 35px;
}
.opciones{
  padding-top:1px;
}
.opciones li button{
  width: 120px;
padding-top: 5px;
font-size: 30px;
}
.search_form .search_input{
  width: 500px;
  height: 30px;
}
.filtros{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  width: 300px;
}
.filtros h1{
  font-size: 40px;
}
.tipo_filtros{
  width: 300px;
}
.tipo_filtros li{
  font-size: 25px;
}
.seleccionar_precio, .tipo_carta{
  font-size: 18px;
  width: 270px;
  font-size: 23px;
  height: 30px;
}
.promociones + b {
  font-size: 28px;
padding-top: 7px;
margin-left: 10px;
}
.promociones{
  transform: scale(2.4);
  margin-left: 12px;
}
#filtro_input{
width: 250px;
margin-left: 20px;
font-size: 23px;
height: 30px;
padding-bottom: 23px;
}

@media screen and (max-width: 1630px) {
  header {
    margin-right: 15%;
  }

  .opciones{
    margin-top: -8px;
  }
  .opciones li button {
    font-size: 24px;
    width: 150px;
  }
  .search_form .search_input{
    width: 300px;
  }
}
}

@media screen and (max-width:1280px) {
  .opciones li a {
    font-size: 20px;
  }
 
}

@media screen and (max-width:1212px) {
  .opciones li a {
    font-size: 20px;
  }

  .opciones li {
    padding-top: 10px;
  }

  .opciones {
    gap: 1em;
    margin-left: 10px;
  }

  .opciones li button {
    font-size: 22px;
    width: 100px;
    margin-left: 0;
  }
 
}
/* // */
@media screen and (max-width:1071px){
 
}
@media screen and (max-width: 1045px) {
  .opciones {
    padding-top: 10px;
  }

  .opciones li a {
    font-size: 20px;
  }

  .opciones li button {
    font-size: 19px;
    height: 24px;
  }

  .opciones {
    gap: 0.6em;
  }

}

@media screen and (max-width: 970px) {

  .abrir-btn {
    display: block;
    margin-left: 80%;
    height: 5vh;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 20px;
  }

  .opciones {
    flex-direction: column;
    align-items: end;
    color: black;
  }

  .opciones li {
    margin-top: 2px;
  }

  .opciones li button {
    width: 100px;
  }

  #navbar {
    position: absolute;
    top: 9.7%;
    right: 0;
    background-color: #D8E9F9;
    padding: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  #navbar.visible {
    opacity: 1;
    visibility: visible;
  }
 
}

@media screen and (max-width:660px){

.filtros{
  position: absolute;
  z-index: 1;
  top: 120px;
 margin-left: 23%;
  margin-right: 18%;
  border: 1px solid black;
  width: 50%;
  margin-top: 40px;
}

.tipo_carta,.seleccionar_precio{
  width: 80%;
  height: 30px;
}


#filtro_input{
margin-left: 14%;
width: 70%;
}
.barra_busqueda .search_input{
margin-bottom: 90%;
width: 100%;
}

.search_form{
  margin-left: 20px;
  width: 100%;
  margin-bottom: 150px;
}
.search_form .search_icon{
  right: 28px;
  top: 2px;
  width: 20px;
}
.logo_img{
  margin-left: 10px;
}
.abrir-btn{
  margin-left: auto;
  margin-right: 20px;
}

#rango_precio1,#rango_precio2{
  width: 35%;
  margin-left: 5px;
  margin: 2px;
  border-radius: 7px;
  border: 1px solid black;
  height: 25px;
}
.rangos p{
  margin-right: 2px;
}

.paginas{
  margin-left: 10px;
}
}
@media screen and (min-width:591px) and (max-width:660px){
  
}
@media screen and (min-width:340px) and (max-width:390px){
 
  .filtros{
    margin-top: 40px;
  }
}

@media screen and (min-width:391px) and (max-width:430px){
 
  .listPage{
    position: relative;
    top: 20vh;
  }
  .search_form .search_input{
width:90%;
margin-right: 60px;
  }

  .search_icon{
    left: -90px;
  }
}
@media screen and (min-width:540px) and (max-width:590px){
 
  .listPage{
    position: relative;
    top: 20vh;
  }
}
@media screen and (min-width:280px) and (max-width:300px){
 
  .listPage{
    position: relative;
    top: 40vh;
  }
}

@media (width<=339px){
 
  .listPage{
    position: relative;
    top: 20vh;
  }
}
@media screen and (min-width:431px) and (max-width:539px)
{
 
}
